<div class="row intestazione">
    <h3>TIPI CORSI</h3>
</div>

<div class="row ">
    <button class="pull-right btn btn-default" data-toggle="modal" data-target="#aggiungiTipoCorso">Aggiungi</button>
</div>

 <div class="row piani-list">
    <% @tipi.each do |des| %>
         <div id="id-<%= des.id %>" class="row piano-element">
                        <div id="name-<%= des.nome %>"><%= des.nome %></div>
                        <i class="fa fa-trash-o" onclick="deleteTipo(<%= des.id %>)"></i>

        </div>
    <% end %>
</div>


<div id="aggiungiTipoCorso" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Aggiungi Tipo</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label >Nome Tipo</label>
            <input type="text" name="nome" class="form-control"  placeholder="Immetti il nome del tipo di corso">
          </div>
      </div>
      <div class="modal-footer">
        <a type="button"  onclick="submit()" class="btn btn-primary">aggiungi</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>

    function submit(){

    $.ajax({
              url: '/admin/aggiungiTipo',
              type: 'POST',
              data: {nome: $('input[name="nome"]').val() },
              success: function(data) {

                html =  '<div class="row piani-list">' +
                                 '<div id="id-' + data.id + '" class="row piano-element">' +
                                '<div id="name-' + data.nome + '">' + data.nome+ '</div>' +
                                '<i class="fa fa-trash-o" onclick="deleteTipo(' + data.id + ')"></i>' +
                                '</div>' +
                                '</div>';

                 $('.piani-list').append(html);
                 $('#aggiungiTipoCorso').modal('hide');
              }
            });

    }

    function deleteTipo(id){

    $.ajax({
              url: '/admin/eliminaTipo',
              type: 'POST',
              data: {id: id},
              success: function(data) {
                    $('#id-' + id).fadeOut();
              }
            });

}

</script>
