<div class="row intestazione">
    <h3>AGGIUNGI PIANO FORMATIVO</h3>
</div>



<form role="form" id="post-form">
  <div class="form-group">
    <label >Nome piano</label>
    <input type="text" name="nome" class="form-control"  placeholder="Immetti il nome del piano formativo">
  </div>
  <div class="form-group">
    <label >Informazioni</label>
    <textarea id="body" class='textarea-admin' name='descrizione'></textarea>
  </div>
  <a  onclick="validate()" class="btn btn-primary pull-right">Submit</a>
</form>



<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    forced_root_block : 'div'
 });
</script>


<script >
function validate(){

    $.ajax({
              url: '/admin/aggiungiPiano',
              type: 'POST',
              data: {nome: $('input[name="nome"]').val() , descrizione: tinyMCE.get('body').getContent()},
              success: function(data) {
                  window.location.href = "/admin/piani"
              }
            });

}
</script>
