<div class="row contenitore-statico" >
  <div class="col-sm-1"></div>

  <div class="col-sm-10">
  <h1>AMMISSIONE ALLA SCUOLA SUPERIORE WILHELM</h1>
    <p class='testo-giusto'>
      Ogni anno, la Scuola Superiore WIlhelm emana un bando di concorso dove sono indicati il numero di posti disponibili e le modalità di selezione per l'ammissione ai corsi ordinari per le diverse aree.
      I criteri di valutazione sono i seguenti:
    </p>
<ul class='testo-giusto'>
  <li> se il candidato ottiene un voto minore della sufficienza, l'entrata alla scuola verrà automaticamente cancellata</li>
  <li> se il candidato ottiene un voto maggiore di 90/100 entrerà di diritto alla scuola e il pagamento delle tasse sarà revocato</li>
</ul>
    <p class='testo-giusto'><h1>ESEMPI DI ESAMI D'AMMISSIONE </h1></p>
    <p class='testo-giusto'> Qui in seguito verranno forniti alcuni esami degli anni precedenti al fine di poter aiutare i candidati nella preparazione.
    I risultati delle selezioni verranno mostrate in seguito ad una attenta decisione degli esaminatori.</p>
    <table width=”75%” border=”1″ align=”center” class='testo-giusto'>
      <tr>
        <td style="vertical-align: top;">Test d'ammissione settembre 2012
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
        </td>
        <td style="vertical-align: top;"><span style="text-decoration:
                underline;"></span><a href="/pdf/exam17092012.pdf" target="_blank">PDF</a><br>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;">Test d'ammissione settembre 2013
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
        </td>
        <td style="vertical-align: top;"><span style="text-decoration:
                underline;"></span><a href="/pdf/exam17092013.pdf" target="_blank">PDF</a><br>
        </td>
      </tr>


    </table>
  </div>

  <div class="col-sm-1"></div>
</div>
