<div class="row contenitore-statico" >
  <div class="col-sm-1"></div>

  <div class="col-sm-10">

    <div class="col-sm-5"> <img src="/img/comitato_genitori.jpg" alt="" style="width:100%"></div>
    <div class="col-sm-7">
    <h1 style="margin-top: -5px;"><b>COMITATI DEI GENITORI </b></h1><br>
    <p class='testo-giusto'>
      La scuola Wilhelm ha offerto la possibilità ai genitori degli alunni, di creare una classe importante all'interno della scuola, un nuovo ruolo, mai usato da nessun altro istituto:
      il comitato dei genitori. Quest'ultimo non è altro che l'unione di 7/8 genitori in tutta la scuola nato per presenziare le riunioni
      scolastiche dove verranno prese decisioni importanti per l'istituto e non per le singole classi ( a quello ci pensano i rappresentanti
      genitori nelle classi). La politica di scelta dei genitori verrà fatta in base alle classi:
    </p>

      <ul class='testo-giusto'>
        <li>1-2 genitori tra le classi prime</li>
        <li>1-2 genitori tra le classi seconde</li>
        <li>1-2 genitori tra le classi terze</li>
        <li>1-2 genitori tra le classi quarte</li>
        <li>2 genitori tra le classi quinte</li>
      </ul>
      <p class='testo-giusto'>
        Tutti gli eventi riguardanti la nomina del Comitato dei Genitori verranno mostrati nella sezione Eventi. Per qualsiasi
        informazione o riferimento contattare la segreteria oppure il vicepreside.
      </p>

    </div>

  </div>

  <div class="col-sm-1"></div>
</div>