<div class="row contenitore-statico" >
  <div class="col-sm-1"></div>

  <div class="col-sm-10">
  <h1 class="titolo-sez-din">ORARIO <%= @classe.nome %></h1>
    <div >
                <div class="row stacca">
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-8">
                    <img style="width:100%" src="/data/classi/<%= @classe.orario %>">
                  </div>
                  <div class="col-sm-2">
                  </div>
                </div>
            </div>
  </div>
  <div class="col-sm-1"></div>
</div>
