<div class="row contenitore-statico" >
  <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="col-sm-6">
        <img src="/img/oldschool.jpg" alt="" style="width: 100%">
        </div>
            <h1 style="margin-top: -5px;"><b>STORIA E TRADIZIONI</b></h1><br>
            <p class='testo-giusto'>
              La scuola Wilhelm, riconosciuta in tutto il mondo per il proprio sistema accademico e per la professionalità dei propri
              insegnanti, nacque nel 1921 grazie alla decisione del magnate Fabio Wilhelm Gritti. L'apertura fu precoce: nel 1922
              tra lo stupore della gente di Via Copernico (MI), venne annunciata tramite una conferenza pubblica l'apertura della scuola.
              Nel 1942 la scuola ricevette il premio come "Scuola del ventennio" ed a ricevere il premio fu lo stesso fondatore.
              Dieci anni da questo avvenimento, la scuola venne chiusa a causa della morte del signor Gritti.
          </p>
      <p class='testo-giusto'>
        Durante il periodo del boom finanziario in Italia la scuola ricevette numerosi fondi e furono create le strutture esterne che
        tutt'ora costituiscono i punti di forza più grande.
      </p>
      <p class='testo-giusto'>
        Dal 1992 vennero introdotti all'interno della scuola i ruoli di rappresentanti e comitato dei genitori; inoltre si iniziò a
        puntare molto anche sulle attività sportive.
      </p>
      <p class='testo-giusto'>
        Dal 2008 si iniziò anche ad utilizzare il "test d'ingresso" per le classi prime.
      </p>
    </div>
    <div class="col-sm-1"></div>
</div>
