<div id="homepage-carousel">
    <div class="container">
        <div class="homepage-carousel-wrapper">
            <div class="row">
                <div class="col-md-6 col-sm-7">
                    <div class="image-carousel">
                        <div class="image-carousel-slide"><img src="/img/slide-1.jpg" alt=""></div>
                        <div class="image-carousel-slide"><img src="/img/slide-2.jpg" alt=""></div>
                        <div class="image-carousel-slide"><img src="/img/slide-3.jpg" alt=""></div>
                    </div>
                    <!--tasti per navigare -->
                    <div class="customNavigation">
                      <a class="btn prev"><i class="fa fa-angle-left"></i></a>
                      <a class="btn next"><i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <div class="col-md-6 col-sm-5">
                    <div class="slider-content">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 id="slogan">Unisciti alla nostra comunità</h1>
                                <h4 id="sub-slogan">Diventa anche tu un brillante studente</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--eventi -->

<div class="row eventi">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">

            <p class="testo-giusto" style="text-align: center;">Benvenuti alla scuola superiore Wilhelm. <br>Ogni anno formiamo brillanti studenti ricercati non solo dalle più prestigiose università Italiane e Estere, ma anche da importanti aziende operanti in ogni settore coperto dalla nostra offerta formativa<br>
              La scuola Wilhelm non è solo un ambito puramente accademiico ma ci consideriamo a tutti gli effetti una "famiglia" grazie alla notevole coesione presente tra professori e studenti.<br>
              Continui a visitare il sito per scoprire tutte le informazioni che cerca.</p>

            <h4>ULTIMI EVENTI</h4>

            <div id='lista-eventi'>
                <% @eventi.each do |des| %>
                <div class="row item">
                    <div class="col-sm-3 down"><%= des.data %></div>
                    <div class="col-sm-6">
                        <p><%= des.nome %></p>
                    </div>
                    <div class="col-sm-3 down">
                        <a onclick="showModal(<%= des.id %>)" class='btn btn-default btn-school' style="position:relative; bottom:5px;"><i class="fa fa-info-circle"></i></a>
                    </div>
                </div>
                <% end %>
            </div>
            <% if @eventi.count == 5 %>
            <div id="see-all-event">
                <a href="/eventi">Vedi tutti gli eventi</a>
            </div>
            <% end %>
        </div>
        <div class="col-sm-1">
        </div>
</div>


<div id='info-evento' class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" >&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="spazio-titolo"></h4>
      </div>
      <div class="modal-body">
        <p id="spazio-descrizione"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class='btn btn-default btn-school' data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    $(document).ready(function() {

             var owl = $(".image-carousel");

             owl.owlCarousel({
                    items: 1,
                    autoPlay: true,
                    stopOnHover: true,
                    navigation: true,
                    navigationText : false,
                    responsiveBaseWidth: ".image-carousel-slide"
                    //responsiveBaseWidth: ".author"
                });

             $(".next").click(function(){
                owl.trigger('owl.next');
              })
              $(".prev").click(function(){
                owl.trigger('owl.prev');
              })

    });


    $(window).load(function(){
        $('#slogan').delay(600).fadeIn(800);
        $('#sub-slogan').delay(1000).fadeIn(800);
    });

    function showModal(id){
        $.ajax({
              url: '/admin/getInfoEvento',
              type: 'POST',
              data: {id: id},
              success: function(data) {
                $('#spazio-descrizione').html(data.descrizione)
                $('#spazio-titolo').html(data.nome)
                $('#infoEvento').modal('show')
              }
            });

        $('#info-evento').modal('show');
    }

</script>
