<div class="row contenitore-statico" >
  <div class="col-sm-1"></div>
    <div class="col-sm-11">
      <div class="col-sm-6">
      <img src="/img/oldschool.jpg" alt="" style="width: 100%">
      </div>
      <div >
          <h1 style="margin-top: -5px;"><b>SCUOLA SUPERIORE WYNIARD </b></h1><br>
          <p class='testo-giusto'>
        La scuola “Wyniard” è ospitata in un’ala del più ampio palazzo conosciuto come ex ”Casa del Fascio”.
        La decisione di costruire l’intero complesso architettonico scaturì da una delibera comunale del 2 Agosto 1926, con la quale il Municipio concedeva gratuitamente alla Società Cooperativa Anonima Immobiliare Ferrarese, che doveva realizzare l’opera, un’area di 1500 mq facente parte del piano di lottizzazione dell’ex caserma Pestrini.
        Proprio per far spazio alla “Casa del Fascio” e ad altre costruzioni adiacenti, fu demolito l’edificio dei Pestrini, sorto come granaio pubblico nel 1630, destinato poi nel XIX secolo a vari usi ed infine a caserma dell’esercito.
        Si salvò solo il portale seicentesco della facciata, che fu trasportato nel cortile del Palazzo dei Diamanti nel 1931. Successivamente alcune confederazioni sindacali fasciste si impegnarono a terminare i lavori della “Casa del Fascio” entro il 31 Dicembre del 1930 e per questa data, infatti, si chiusero i cantieri. Il 23 Febbraio del 1931 fu possibile inaugurare ufficialmente l’intero edificio alla presenza di Italo Balbo e delle più alte autorità locali.
        </p>
      </div>
    </div>


</div>
