<div class="row contenitore-statico" >
  <div class="col-sm-1"></div>

  <div class="col-sm-10">

    <div class="col-sm-5"> <img src="/img/genitori.jpg" alt="" style="width:100%"></div>
    <h1 style="margin-top: -5px;"><b>RAPPRESENTANZA DEI GENITORI</b></h1><br>
    <p class='testo-giusto'>
      Nelle scuole statali vi sono specifiche norme che regolano la partecipazione dei genitori alla vita della scuola.
    </p>
    <p class='testo-giusto'>
      Tali regole si applicano alle scuole di ogni ordine e grado, attraverso gli organi collegiali. A questi particolari momenti di presenza dei genitori a scuola si aggiungono, ovviamente, quelli relativi a rapporti individuali che ogni genitore può avere con gli insegnanti del proprio figlio.
    </p>
    <p class='testo-giusto'>
      Gli insegnanti possono incontrare periodicamente i genitori della classe (o sezione, nella scuola dell’infanzia) in assemblea per discutere di problemi che riguardano complessivamente l’attività, l’organizzazione dei servizi e i rapporti tra scuola e famiglia.
    </p>
    <p class='testo-giusto'>
      I genitori hanno diritto di riunirsi in assemblea di classe o di scuola per trattare tra loro problemi che attengono a questioni della scuola. In questo caso devono presentare al dirigente della scuola una richiesta di uso dei locali scolastici, motivando anche la ragione dell’assemblea, alla quale possono partecipare anche i docenti e lo stesso dirigente scolastico con diritto di parola.
      La scuola statale prevede anche che vi siano organi collegiali ai vari livelli di scuola o di istituzione scolastica, con competenze diverse, di cui fanno parte anche genitori eletti in rappresentanza delle famiglie.
    </p>
    <p class='testo-giusto'>
      Per saperne di più a riguardo delle normative della scuola Wilhelm scaricare il seguente PDF:
    </p>
    <p class='testo-giusto' style="font-size: 400%" >
      <a href="/pdf/dirittidoverigenitori.pdf" target="_blank">
        DOWNLOAD NORMATIVE
      </a>
    </p>

  </div>

  <div class="col-sm-1"></div>
</div>