<div class="row contenitore-statico" >
  <div class="col-sm-1"></div>

  <div class="col-sm-10">


    <p class='testo-giusto'>
      Con l'entrata in vigore dello Statuto delle Studentesse e degli Studenti (D.P.R. 249/1998 così come modificato ed integrato dal D.P.R. 235/07), ogni istituto scolastico deve analizzare il proprio Regolamento adeguandolo alle norme previste. In particolare l'articolo 2 riguardante i diritti degli studenti risulta di particolare interesse affinché i principi in esso contenuti non rimangano delle mere aspirazioni, ma possano tradursi nella quotidianità. Così, ad esempio, il diritto alla partecipazione attiva e responsabile degli studenti alla vita della comunità scolastica implica conseguenze rilevanti: si riconosce il diritto dello studente a partecipare ai processi decisionali della scuola, sia attraverso i canali tradizionali (Consiglio di Classe e Consiglio d'Istituto), sia attraverso la creazione di nuovi spazi di partecipazione che consentano agli studenti un coinvolgimento diretto nelle scelte più importanti della comunità scolastica (ad esempio, alcune scuole hanno formato delle commissioni paritetiche con gli studenti per la stesura del Piano dell'Offerta Formativa).
    </p>
    <p class='testo-giusto'>
      Il regolamento d'istituto è l'attuazione dello Statuto in ogni scuola: deve dunque dichiarare le modalità, gli spazi i tempi di azione degli studenti, deve stabilire le regole che garantiscano il rispetto dei diritti e dei doveri da parte di tutte le componenti scolastiche e prevedere eventuali sanzioni. Risulta evidente lo stretto legame tra regolamento d'istituto e piano dell'offerta formativa del quale il regolamento costituisce norma e garanzia di attuazione. È indispensabile, quindi, che la formulazione dei regolamenti sia affidata a una commissione in cui siano rappresentate tutte le componenti scolastiche, studenti, famiglie, docenti, vale a dire tutti coloro che sono legati dal patto espresso nel POF e dal fine ultimo del successo formativo di ogni ragazzo. L'adesione a un regolamento condiviso fin dalla sua formulazione si configura per tutti come assunzione di responsabilità e di consapevolezza del proprio ruolo e del proprio contributo per migliorare la partecipazione al processo di riforma scolastica. Il Piano dell'Offerta Formativa e il Regolamento d'Istituto sono strumenti fondamentali per delineare un sistema di regole condiviso nell'ambito dell'autonomia scolastica. La modifica del Regolamento d'Istituto diviene quindi un'occasione per ripensare, in modo democratico e con particolare attenzione al criterio dell'inclusione, i processi decisionali e il sistema dei rapporti tra le varie componenti della comunità scolastica. In considerazione del fatto che lo Statuto delle Studentesse e degli Studenti sostanzia la cittadinanza studentesca e il sistema di partecipazione e rappresentanza, il Regolamento d'Istituto dovrebbe analizzare anche gli aspetti legati alla partecipazione studentesca. Si deve ricordare che il D.P.R. 235/07 ha introdotto sostanziali novità in materia di disciplina, con specifico riferimento alle infrazioni disciplinari, alle sanzioni applicabili e all’impugnazione di queste ultime. Pertanto le modifiche introdotte impongono alle singole istituzioni scolastiche di adeguare ad esse i regolamenti interni.
    </p>
    <p class='testo-giusto'>
      I contenuti dei regolamenti di istituto, come risultanti unitariamente dalle vecchie e dalle nuove disposizioni, dovranno individuare:
    </p>
    <ul class='testo-giusto'>
    <li>le mancanze disciplinari
    <li>le sanzioni
    <li>gli organi competenti a comminare le sanzioni
    <li> il procedimento di irrogazione delle sanzioni disciplinari
    <li>le procedure di elaborazione condivisa e di sottoscrizione del Patto educativo di corresponsabilità</ul>
    <p class='testo-giusto'>Elementi qualificanti del regolamento d'istituto sono:</p>
    <ul class='testo-giusto'>
      <li>regolamentazione dell'assistenza allo studio (learning center, attività di tutoraggio,…)
    <li>attenzione alla valutazione
    <li>flessibilità del regolamento
    <li>coerenza tra il regolamento e il piano dell'offerta formativa
    <li>comitato studentesco (autoregolamentato, con potere decisionale in base al D.P.R. 567/1996 e successive modifiche);
    <li>linguaggio semplice e comprensibile.</ul>
  </div>

  <div class="col-sm-1"></div>
</div>