<div class="row contenitore-statico">
  <div class="col-sm-1"></div>

  <div class="col-sm-10">
  <h1 class="titolo-sez-din">STRUTTURE ESTERNE</h1>
    <div >
              <div class="strutture-carousel row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                            <div class="image-carousel" style="max-height:400px; overflow: hidden">
                               <div class="image-carousel-slide" ><img src="/img/slideStrutt-1.jpg" alt="" style="width:100%">
                                    <div style="display:none;"class="titolo">BIBLIOTECA</div>
                                    <div style="display:none;"class="testo">una spaziossa biblioteca</div>
                                </div>
                                <div class="image-carousel-slide" ><img src="/img/slideStrutt-2.jpg" alt="" style="width:100%">
                                    <div style="display:none;"class="titolo">PALESTRA</div>
                                    <div style="display:none;"class="testo">una bella palestra</div>
                                </div>
                            </div>
                            <div class="customNavigation" data-toggle="tooltip" title="Scorri le immagini per cambiare la descrizione" data-placement="right">
                              <a class="btn prev"><i class="fa fa-angle-left"></i></a>
                              <a class="btn next"><i class="fa fa-angle-right"></i></a>
                            </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row info-struttura">
                    <h4 class='subtitle-sez-din'>BIBLIOTECA</h4>
                    <p>una spaziossa biblioteca</p>
                </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<script>

    $(document).ready(function() {


        var owl = $(".image-carousel");
        var status = $("#owlStatus");

        owl.owlCarousel({
            items: 1,
            stopOnHover: true,
            navigation: true,
            navigationText : false,
            responsiveBaseWidth: ".image-carousel-slide",
            beforeMove : before,
            afterMove : after,
            //responsiveBaseWidth: ".author"
        });

        $(".next").click(function(){
            owl.trigger('owl.next');
        })
        $(".prev").click(function(){
            owl.trigger('owl.prev');
        })

        function before(){
           $('.info-struttura').fadeOut();
        }


        function after(){
            var item = this.owl.owlItems[this.owl.currentItem];

            //mettiamo un delay di 500 ms per evitare bug grafici
            setTimeout(function() {
                    $('.info-struttura h4').html($(item).find('.titolo').text());
                    $('.info-struttura p').html($(item).find('.testo').text());
                    $('.info-struttura').fadeIn();
            }, 500);

        }
    });

$(window).load(function(){
    $('.customNavigation').tooltip('show');

    //rendiamolo visibile finche l utente non ci passa sopra
     $('.customNavigation').hover(function() {
                   $('.customNavigation').tooltip('destroy');
            });
})
</script>
