<div class="row contenitore-statico" >
  <div class="col-sm-1"></div>

  <div class="col-sm-10">
    <div class="col-sm-6">
      <img src="/img/vittoria3.jpg" alt="" style="width: 100%">
      <p class='testo-giusto'>Maria,Dina e Pranda vincitrici di scacchi "SCOLARINO 2006"</p>
      <img src="/img/vittoria2.jpg" alt="" style="width: 100%">
      <p class='testo-giusto'>La squadra di basket della scuola Wilhelm "Macerba" allo "SCOLARINO 2002"</p>
    </div>

    <div class="col-sm-6" style="padding-left: 10px">
    <h1 style="margin-top: -5px;"><b>SUCCESSI NELLE COMPETIZIONI</b></h1><br>
    <p class='testo-giusto'>
    Le seguenti vittorie sono state ottenute dalla scuola Wilhelm nel corso degli anni:<br>
      La nostra scuola si è sempre dimostrata competitiva in tutti i tornei di ogni tipo di attività( dagli scacchi al atletica,calcio,basket
      pallavolo). I padri fondatori della scuola furono coloro che crearono per la prima volta il famosissimo torneo "SCOLARINO"; sono oramai moltissimi anni che la scuola vi partecipa ottenendo numerose soddisfazioni.
    </p>
    <ul class='testo-giusto'>
      <li>Squadra di pallavolo PRATI "1° Classificati SCOLARINO 1996"
      <li>Squadra di calcio WHILELMS "3° CLassificati SCOLARINO 2001"
      <li>Squadra di basket MACERBA "2° Classificati SCOLARINO 2002"
      <li>Squadra di scacchi "1°Classificati SCOLARINO 2006"
    </ul>
    </div>

  </div>

  <div class="col-sm-1"></div>
</div>
