<div class="row contenitore-statico" >
  <div class="col-sm-1"></div>

  <div class="col-sm-10">

    <h1>SUPPORTO DELLA SCUOLA A PERSONE CON PROBLEMI O DIFFICOLTA</h1>
        <p class='testo-giusto'><b>Insegnante di Sostegno</b>
        </p>
         <p class='testo-giusto'>
                 La scuola Wilhelm secondo la normativa vigente fornisce agli alunni la possibilità di avere un insegnante di sostegno il quale si occuperà del sostegno allo scolare nelle sue necessità.
                  Citando la normativa:
          </p>
         <p class='testo-giusto'>
             "Il docente specializzato per il sostegno è assegnato alla classe in cui è iscritto un alunno con disabilità; egli assume la contitolarità della sezione e della classe in cui opera, partecipa alla programmazione educativa e didattica e all’ elaborazione e verifica delle attività di competenza dei consigli di interclasse, dei consigli di classe e dei collegi dei docenti ai sensi dell’articolo 13, comma 6 della legge5 febbraio 1992 n. 104".
        </p>
        <p class='testo-giusto'><b>Sportello Psicologico</b>
        <p class='testo-giusto'>
        Oltre al docente di sostegno, la scuola WIlhelm fornisce anche uno Sportello Psicologico.<br>
          La presenza di uno sportello di ascolto psicologico all’interno della scuola, è una grande occasione e opportunità per affrontare e risolvere problematiche inerenti la crescita, problematiche legate all’insuccesso scolastico, o alle difficoltà tipicamente connesse al periodo dell’adolescenza.
          Lo sportello di ascolto è uno spazio dedicato ai ragazzi, ai loro problemi, alle loro difficoltà con il mondo della scuola, la famiglia, i pari ecc., ma è anche un possibile spazio di incontro e confronto per i genitori per capire e cambiare le difficoltà che naturalmente possono sorgere nel rapporto con un figlio che cresce.
        </p>
        <p class='testo-giusto'><b>Borse di Studio</b>
        <p class='testo-giusto'>
          La scuola Wilhelm , grazie al contributo della regione Lombardia, fornisce una borsa di studio.<br>
          Ne faranno usufrutto gli studenti meritevoli e/o a rischio di abbandono del percorso formativo, in disagiate condizioni economiche.<br>
          Per l’anno scolastico 2013-2014, i potenziali beneficiari devono presentare un valore ISE (Indicatore della Situazione Economica) della famiglia di appartenenza, riferito al reddito dell’anno 2012, non superiore a 21.691,19 euro per un nucleo familiare di tre componenti.
          </p>
        </p>

  </div>

  <div class="col-sm-1"></div>
</div>
