<div class="row contenitore-statico" >
  <div class="row">
  <div class="col-sm-1"></div>

  <div class="col-sm-10">
    <p><h1>UFFICIO SCUOLA</h1></p>
    <p class='testo-giusto'>
      L'ufficio Scuola gestisce le iscrizioni, e in alcuni casi anche il pagamento, dei seguenti servizi:
    </p>
    <ul class='testo-giusto'>
         <li> il servizio di mensa scolastica per gli alunni della scuola Whilhelm;</li>
         <li> il servizio di trasporto scolastico per gli alunni della scuola materna primaria e secondaria</li>
         <li> il servizio prescuola per gli alunni della scuola primaria</li>
    </ul>
    <p  class='testo-giusto'>All'ufficio Scuola ci si può rivolgere anche per avere dei contributi o uno sconto nel pagamento dei servizi.</p>
    <p  class='testo-giusto'> Per ulteriori informazioni rivolgersi alla provincia Lombardia e alle istituzioni competenti.</p>

  </div>

  <div class="col-sm-1"></div>
  </div>
  <div class="row container-down">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="col-sm-5">
        <a href="http://www.regione.lombardia.it/" target="_blank">
        <img src="/img/lombardia.jpg" style="width:100%">
        </a>
     </div>

      <div class="col-sm-5">
        <a href="http://www.istruzione.lombardia.gov.it/" target="_blank">
          <img src="/img/ufficio.gif" style="width:100%">
        </a>
      </div>
    </div>
    </div>
    <div class="col-sm-1"></div>

  </div>
</div>
