<!DOCTYPE html>
<html>
<head>
  <title>DigitalSchool</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext" rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application' %>
  <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">
  <script  src="/js/jquery-1.11.1.min.js" ></script>
  <script  src="/js/bootstrap.js" ></script>
  <script  src="/js/owl.carousel.js" ></script>
  <%= csrf_meta_tags %>
</head>

<body class="front-end">

    <!-- HEADER  -->
    <div id='cssmenu' class='align-right' style="margin-top: 50px;">
    <ul>
       <li class='has-sub'><a href='#'><span>Informazioni</span></a>
          <ul>
             <li><a href='#'><span>Dove siamo</span></a></li>
             <li><a href='#'><span>Storia</span></a></li>
             <li><a href='#'><span>Supporto</span></a></li>
             <li><a href='#'><span>Successi</span></a></li>
             <li><a href='#'><span>Principi</span></a></li>
             <li><a href='#'><span>Regole</span></a></li>
             <li class='last'><a href='#'><span>Ammissione</span></a></li>
          </ul>
       </li>
        <li class='has-sub'><a href='#'><span>Genitori</span></a>
          <ul>
             <li><a href='#'><span>Rappresentanti</span></a></li>
             <li class='last'><a href='#'><span>Comitato</span></a></li>
          </ul>
       </li>
       <li class='has-sub'><a href='#'><span>Classi</span></a>
          <ul>
             <li><a href='#'><span>Tutte</span></a></li>
             <li class='has-sub last'><a href='#'><span>Per Piano formativo</span></a>
              <ul>
                 <li><a href='#'><span>Rappresentanti</span></a></li>
                 <li class='last'><a href='#'><span>Comitato</span></a></li>
              </ul>
             </li>
          </ul>
       </li>
       <li><a href='#'><span>Eventi</span></a></li>
       <li><a href='#'><span>Insegnanti</span></a></li>
       <li><a href='#'><span>Corsi</span></a></li>
       <li><a href='#'><span>Strutture</span></a></li>
       <li class='last'><a href='#'><span>Piani Formativi</span></a></li>
    </ul>
    </div>


    <img id="logo"src="/img/logo.png">


<%= yield %>

</body>
</html>
